@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pisarnica</h1>
    <p class="lead">Evidencija predmeta, praćenje rješavanja predmeta</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Pregled &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Osobe</h2>
        <p>
            Pregled osobnih<br /> podatka o osobama, <br /> evidencija prebivališta
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("Pregled osoba", "Index", "Osoba")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Klase</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Predmeti</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>